
  <div class="form-wrapper">
    <h2 class="mat-title">Add new expense</h2>
    <form class="form" [formGroup]="expenseForm" (ngSubmit)="onSubmitForm()">
      <mat-form-field appearance="outline">
        <mat-label>Purchased date</mat-label>
        <input type="date" matInput formControlName="purchasedOn">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nature</mat-label>
        <input matInput placeholder="Ex: Restaurant, Car rent...." formControlName="nature">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="originalAmount">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select [(value)]="selected" formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency.tag">{{currency.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea matInput placeholder="Add a comment on this expense" formControlName="comment"></textarea>
      </mat-form-field>
      <div class="button-group">
          <button mat-raised-button color="primary" type="submit">Create expense</button>
          <button mat-flat-button color="basic" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
    </div>