.form-wrapper {
    margin: 1.5rem 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-form-field {
    margin-bottom: .5rem;
}

.button-group {
    margin-top: 1rem;
}